body {
    height: 3000px;
    font-family: 'Poppins', sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* setup */
:root{
    /* color styles */
    --blue-light:#29C5E6;
    --blue: #16BDCA;
    --white:#FFFFFF;
    --dark-brown: #341413;
    --abu-abu: #798092;

    /* font */
    --body-font: 'Poppins', sans-serif;

    /* font size desktop */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;   

    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    /* font weight */
    --font-weight-bold: 700;
    --font-weight-semi-bold: 800;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;

}

body{
    font-family: var(--body-font);
}

/* button primary */
.btn{
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
}

.btn-primary{
    background-color: var(--blue);
    border: none;
}

.btn-primary:hover{
    background-color: var(--white);
    color: var(--blue-light);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05)!important;
}

/* button secondary */

.btn-secondary{
    background-color: var(--abu-abu);
    color: var(--white);
    border: none;
}

.btn-secondary:hover{
    background-color: var(--white)!important;
    box-shadow:  0px 4px 19px rgba(0, 0, 0, 0.05)!important;
    color: var(--blue);
}


/* navbar */
.navbar-brand img{
    padding-right: 13px;
}

.navbar-brand span{
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    color: var(--blue-light);
    margin-right: 8px;
}

a.nav-link{
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    color: var(--dark-brown) ;
}
.container {
    justify-content: center;
    margin-top: 80px;
    padding: 20px;
}
.container span {
    font-size: 30px;
    color: #16BDCA;
    font-weight: bold;
}
.container h2{
    text-align: center;
    color: #16BDCA;
    font-weight: bold;
    font-size: 40px;
}
.container h3{
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 25px;
}
.container p {
    justify-content: center;
    text-align: start;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.container ul {
    justify-content: center;
    text-align: start;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.slogan {
    display: flex;
    gap: 100px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
.slogan h2 {
    font-size: 40px;
    color: #16BDCA;
}
#poto1 {
    height: 350px;
    width: 800px;
}
.anggota {
    margin-top: 50px;
    padding: 20px;
}
.anggota h2{
    color: #16BDCA;
    text-align: center;
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.anggota .team {
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.anggota .team .apip {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;
}
.anggota .team .apip .biodataapip{
    font-size: 20px;
    align-items: center;
}
.anggota .team .apip .biodataapip h2 {
    text-align: start;
}
#potoapip {
    height: 250px;
    width: 200px;
    border-radius: 5%;
}
.anggota .team .depal {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.anggota .team .depal .biodatadepal{
    font-size: 20px;
}
.anggota .team .depal .biodatadepal h2 {
    text-align: start;
}
#potodeval {
    height: 250px;
    width: 200px;
    border-radius: 5%;
}
.anggota .team .adit {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;
}
.anggota .team .adit .biodataadit{
    font-size: 20px;
    justify-content: center;
}
.anggota .team .adit .biodataadit h2 {
    text-align: start;
}
#potoadit {
    height: 250px;
    width: 200px;
    border-radius: 5%;
}